body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  padding: 0;
}

::-webkit-scrollbar {
  width: 2px;
  height: 8px;
  background-color: #abb5bb;
}

::-webkit-scrollbar-thumb {
  background-color: #595e69;
  border-radius: 9em;
}
